@import 'tailwindcss';

@font-face {
  font-family: 'Local-Noto-Sans';
  src: local('Noto Sans JP');
  font-display: swap;
}

@theme {
  --font-sans:
    'Inter-Variable', 'Arial', 'Local-Noto-Sans', sans-serif, system-ui;

  --color-violet-dark: oklch(from var(--color-violet-950) 20% 0.06 h);

  --color-body: light-dark(var(--color-violet-100), var(--color-violet-950));
  --color-main: canvas;
  --color-text: canvasText;
  --color-textinv: canvas;
  --color-border: light-dark(hsl(0 0 0 / 25%), hsl(0 0 100 / 25%));
  --color-border-2: light-dark(hsl(0 0 0 / 40%), hsl(0 0 100 / 40%));
  --color-link: light-dark(var(--color-blue-700), var(--color-blue-400));
  --color-link-disabled: light-dark(hsl(0 0 0 / 60%), hsl(0 0 100 / 40%));
  --color-accent: light-dark(var(--color-violet-950), var(--color-violet-100));
  --color-caution: light-dark(var(--color-red-600), var(--color-yellow-300));

  --default-transition-duration: 80ms;
  --default-transition-timing-function: cubic-bezier(0.25, 0, 0, 1);
  --ease-in-out-1: cubic-bezier(0.25, 0, 0, 1);

  --default-font-feature-settings:
    'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';
  --feature-tnum: var(--default-font-feature-settings), 'tnum';

  --spacing-min-side: 14rem;
  --spacing-max-main: 72rem;
  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-figure: 2rem;
  --spacing-gutter: 1rem;

  @keyframes --k-toast {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-toast: --k-toast 300ms var(--ease-in-out-1);
  --z-toast: calc(infinity);
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

@utility feat-* {
  font-feature-settings: --value(--feature-*);
}

@utility z-* {
  z-index: --value(--z-*);
}

@utility btn-theme-1 {
  @apply text-accent hover-focus:bg-accent/15
    transition-colors rounded-full px-6 py-1 border-2 border-accent;
}

@layer base {
  :root {
    -webkit-tap-highlight-color: revert;
    line-break: strict;
    scrollbar-gutter: stable;
    text-spacing-trim: trim-start;
    text-autospace: normal;
    @apply font-sans max-sm:text-sm wrap-anywhere scheme-light-dark;
  }

  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    [lang^='ja'] {
      word-break: auto-phrase;
      text-align: justify;
    }
  }

  body {
    @apply flow-root bg-body text-text;
  }

  .__container {
    @apply max-lg:flow-root lg:grid;
    grid-template-areas:
      'h h h'
      '. m .';
    grid-template-columns:
      minmax(min(var(--spacing-min-side), 50%), 1fr)
      minmax(0, var(--spacing-max-main))
      minmax(min(var(--spacing-min-side), 50%), 1fr);
    grid-template-rows: auto 1fr;
  }

  header {
    grid-area: h;
    @apply flow-root;
  }

  main {
    grid-area: m;
    @apply flow-root bg-main px-gutter min-block-lvh;
  }

  h1 {
    @apply text-4xl font-extralight;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base;
  }

  h2,
  h3,
  h4 {
    @apply font-normal;
  }

  h5,
  h6,
  b,
  strong,
  th {
    @apply font-semibold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mbs-heading;
  }

  :not(li) > :where(p, ul, ol, pre) {
    @apply mbs-paragraph;
  }

  :not(li, ul, ol) > :where(ul, ol) {
    @apply ps-7;
  }

  :is(li, ul, ol) > :where(ul, ol) {
    @apply ps-4;
  }

  textarea,
  pre,
  code,
  input:where(
    :not([type]),
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ) {
    @apply font-mono;
  }

  textarea,
  input:where(
    :not([type]),
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ) {
    @apply border border-border rounded p-1;
  }

  textarea {
    @apply block-60;
  }

  button {
    @apply cursor-pointer;
  }
}
