@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: 'Inter-Variable', 'Noto Sans JP', sans-serif, system-ui;
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@utility btn-theme-1 {
  @apply text-white dark:text-black bg-slate-800 dark:bg-white any-hover:opacity-75 transition-colors rounded px-2;
}

@layer base {
  * {
    font-optical-sizing: auto;
  }

  html,
  :host {
    -webkit-tap-highlight-color: revert;
  }

  body {
    @apply bg-slate-50 dark:bg-slate-950;
  }

  :where(main) {
    @apply prose dark:prose-invert prose-slate w-full max-w-320 mx-auto px-4;
  }

  textarea,
  pre,
  code,
  input[type='text'] {
    @apply font-mono;
  }

  textarea {
    resize: none;
    @apply block w-full border border-slate-400 bg-white rounded h-[20rem] p-1;
  }

  button {
    @apply cursor-pointer;
  }
}
