@import 'tailwindcss';

@theme {
  --font-sans: 'Inter-Variable', 'Arial', 'Noto Sans JP', sans-serif, system-ui;

  --color-body: var(--color-violet-100);
  --color-d-body: var(--color-violet-950);
  --color-main: #fff;
  --color-d-main: oklch(0.15 0.07 295);
  --color-accent: var(--color-violet-950);
  --color-d-accent: var(--color-violet-100);
  --color-text: #000;
  --color-d-text: #fff;
  --color-textinv: #fff;
  --color-d-textinv: #000;
  --color-border: hsl(0 0 0 / 25%);
  --color-d-border: hsl(0 0 100 / 30%);
  --color-caution: var(--color-red-600);
  --color-d-caution: var(--color-yellow-300);

  --default-transition-duration: 80ms;
  --default-transition-timing-function: cubic-bezier(0.25, 0, 0, 1);
  --ease-in-out-1: cubic-bezier(0.25, 0, 0, 1);

  --default-font-feature-settings:
    'case', 'cv01', 'cv05', 'cv08', 'cv10', 'cv07', 'ss03';
  --feature-tnum: var(--default-font-feature-settings), 'tnum';

  --spacing-min-side: 14rem;
  --spacing-max-main: 72rem;
  --spacing-paragraph: 0.75rem;
  --spacing-heading: 2.5rem;
  --spacing-figure: 2rem;
  --spacing-gutter: 1rem;

  @keyframes --k-toast {
    from {
      opacity: 0;
      transform: translateY(-15px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-toast: --k-toast 300ms var(--ease-in-out-1);
  --z-toast: calc(infinity);
}

@custom-variant any-hover {
  &:hover {
    @media (any-hover: hover) {
      @slot;
    }
  }
}

@custom-variant hover-focus {
  @media (any-hover: hover) {
    &:hover {
      @slot;
    }
  }

  &:focus-visible {
    @slot;
  }
}

@utility feat-* {
  font-feature-settings: --value(--feature-*);
}

@utility cbg-* {
  background-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    background-color: --value(--color-d- *);
  }
}

@utility ctext-* {
  color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    color: --value(--color-d- *);
  }
}

@utility cborder-* {
  border-color: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    border-color: --value(--color-d- *);
  }
}

@utility cfill-* {
  fill: --value(--color-*);

  @media (prefers-color-scheme: dark) {
    fill: --value(--color-d- *);
  }
}

@utility z-* {
  z-index: --value(--z-*);
}

@layer base {
  :root {
    -webkit-tap-highlight-color: revert;
    line-break: strict;
    scrollbar-gutter: stable;
    @apply font-sans max-sm:text-sm wrap-anywhere;
  }

  :root,
  [lang] {
    word-break: normal;
  }

  @supports (word-break: auto-phrase) {
    [lang^='ja'] {
      word-break: auto-phrase;
    }
  }

  body {
    @apply flow-root cbg-body ctext-text;
  }

  .__container {
    @apply max-lg:flow-root lg:grid;
    grid-template-areas:
      'h h h'
      '. m .';
    grid-template-columns:
      minmax(min(var(--spacing-min-side), 50%), 1fr)
      minmax(0, var(--spacing-max-main))
      minmax(min(var(--spacing-min-side), 50%), 1fr);
    grid-template-rows: auto 1fr;
  }

  header {
    grid-area: h;
    @apply flow-root;
  }

  main {
    grid-area: m;
    @apply flow-root cbg-main px-gutter min-h-lvh;
  }

  h1 {
    @apply text-4xl font-extralight;
  }

  h2 {
    @apply text-3xl;
  }

  h3 {
    @apply text-2xl;
  }

  h4 {
    @apply text-xl;
  }

  h5,
  h6 {
    @apply text-base;
  }

  h2,
  h3,
  h4 {
    @apply font-normal;
  }

  h5,
  h6,
  b,
  strong,
  th {
    @apply font-semibold;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mt-heading;
  }

  :not(li) > :where(p, ul, ol, pre) {
    @apply mt-paragraph;
  }

  :not(li, ul, ol) > :where(ul, ol) {
    @apply ps-7;
  }

  :is(li, ul, ol) > :where(ul, ol) {
    @apply ps-4;
  }

  textarea,
  pre,
  code,
  input:where(
    :not([type]),
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ) {
    @apply font-mono;
  }

  textarea,
  input:where(
    :not([type]),
    [type='text'],
    [type='number'],
    [type='url'],
    [type='email'],
    [type='search'],
    [type='tel']
  ) {
    @apply border cborder-border rounded p-1;
  }

  textarea {
    @apply h-60;
  }

  button {
    @apply cursor-pointer;
  }
}

@layer components {
  .btn-theme-1 {
    @apply ctext-accent hover-focus:bg-accent/15 dark:hover-focus:bg-d-accent/15
    transition-colors rounded-full px-6 py-1 border-2 cborder-accent;
  }
}
